.Banner{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 19.5%; 
}
.Banner img {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width:100%;
}
.text-banner{
        width: 905px;
        height: 157px;
        font-size: 100px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        color: #ffffff;
        position: absolute;
        bottom: 25%;
        text-align: center;
}
 @media (max-width: 767.98px) { 
    .text-banner{
        width: 905px;
        height: 157px;
        top: 30%;
        bottom: 20%;
        font-size: 45px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        color: #ffffff;
        position: absolute;
        text-align: center;
}

} 