.BookingStyle{
border: 1px solid #c7c7cc ;
max-width: 589px !important;
height: 498px;
}
.marginTop{
    margin-top: 120px;
}
@media (max-width: 1291.98px) { 
    .BookingStyle{
        border: 1px solid #c7c7cc ;
        height: 100% !important;
        }
        .marginTop{
    margin-top: 80px !important;
}
}