* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SUKHUMVITSET;
}
body,html {
    height:100%;
}
@font-face {
    font-family: "SUKHUMVITSET";
    src: url("../font/SUKHUMVITSET-TEXT.TTF");
}

/* MarginTop Class */
/* Navbar */
/* Slider */
/* Card */
/* Footer */
/* buttonGroup */
/* search */
/* ProductDetail */
/*Responsive Media Query*/


/* MarginTop Class */
.MarginTopClass {
    margin-top: 27px;
    
}
.MarginTopClassII {
    margin-top: 205px;
}
.MarginTopClassIII {
    margin-top: 170px;
}

/* Navbar */
.navbarLink{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    display: inline-block; 
}
.alpha{
    background: #ffffff;
    color: #000000;
    border-bottom: 1.2px solid rgba(0,0,0,0.1);
}
.navbarLink a {
    color:#000000;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.14px;
    color: #333333;
    text-decoration: none !important;
}
.logo {
    width: 100px;
    height: 100px;
    margin-left: 64px;
    margin-right: 32px;
    object-fit: contain;
}
.hrVertical{
    content: "";
    width: 1px;
    margin-top: 30px;
    display: inline-block; 
    margin-right: 33px; 
    height: 32px;
    background-color: #ececec;
}

.alignAutoLeft{
    margin-left: 550px;
}

/* Slider */
.carousel-item img{
    border-style: none;
    width: 100%;
    height: 950px !important;
}
.carousel-indicators .active {
    opacity: 1;
    width: 80px;
}
.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 50%;
    z-index: 20;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-caption h3 {
    font-size: 100px;
    font-weight: bold;    
}
.backgroundText{
    position: absolute;
    top: 0;
    background-color:rgba(0,0,0,0.2) ;
    width: 100%;
    height: 950px;
}
/* ProductDetail */
/* ProductSlider */
.ProductDetailFront h3{
    max-width: 600px;
    width: 584px;
  height: 54px;
  font-family: SukhumvitSet;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.24px;
  color: #333333;
}
.ProductSlider .carousel-item img{
    border-style: none;
    width: 600px !important;
    height: 740px !important;
}
.ProductSlider .carousel-caption h3 {
    display: none;
}
.buttonSize{
    width: 200px;
    height: 40px;
    border-radius: 4px;
    color: #000 !important;
    background-color: #fff !important;
    border-color: #6c757d !important;
}
.caret{
    display: inline-block !important;
    margin-left: 9.1em !important;
    vertical-align: .3em !important;
    content: "";
    border-top: .3em solid !important;
    border-right: .3em solid transparent !important;
    border-bottom: 0 !important;
    border-left: .3em solid transparent !important;
    margin-top: 15px !important;
}



/*CategoryBox */
.Category{
    width: 398px;
    height: 398px;
    background-color: #efeff4;
    border: 20px solid #fff;
    border-radius:15px ;
}
.Category h2{
    font-size: 40px;
    position: absolute ;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    left: 25%;
    right: 25%;
    top: 50%;
}
                
/*Card*/
.embed-responsive::before {
    padding: 56.25% !important;
}
.cardCutoms {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-ap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}
.HeaderCard{
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.29px;
    text-align: center;
    color: #333333;
}
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    opacity: 1;
    overflow: hidden;
}
.embed-responsive:hover{
    opacity: 0.7;
    transition: 0.1s;
}

.showItem{
    position: absolute;
    bottom:0%;
    padding: 10px;
    width: 350px;
    color: #000000;
    font-size: 24px;
    height: 56px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    
}

/* Footer */
.Footer{
    clear: both;
    height: 150px;
    background: #333333;
    position: relative;
    bottom: 0;
}

 .left-footer{
    margin-top: 60px;
    font-size: 24px;
} 
.right-footer{
    margin-top: 60px;
    font-size: 24px;
} 
.ClearBoth{
    clear:both;
    display:block;
    content: "";
}
/* buttonGroup */
.buttonGroup{
    padding-bottom: 180px;
}
.pagination{
    margin:2% 42%;
}
.border-page-link{
    border-radius: 4px !important;
    padding: 12px 17px !important;
}
/* search */
.search{
    position: absolute;
    top: 170px;
    right: 60px;
    z-index: 100 !important;
}
.div-search{
    width: 340px;
    padding-top: 20px;
    height: 131.4px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.arrow-box{
    content: '';
    position: absolute;
    width: 25px;
    border: 12px solid #ffffff;
    border-bottom: 30px solid rgba(0, 0, 0, 0.03);
    left: 89%;
    z-index: -100;
    top: 69px;
}

/*Responsive Media Query*/

/*Iphon 6  - 4 */
@media (max-width:375px){
    /* Category */
    .Category h2{
        position: absolute;
        left: 25%;
        font-size: 15px;
        font-weight: bold;
        right: 25%;
        top: 50%;
    }
  
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    /* Slider */
    .carousel-item img{
        border-style: none;
        width: 100%;
        height: 300px !important;
    }
        .search {
            position: absolute;
            top: 62px !important;
            right: 43px !important;
            z-index: 100 !important;
        }
        .div-search {
                top: 300px;
                position: absolute;
                left: 0% !important;
                width: 340px;
                margin-bottom: 150px;
                height: 131.4px;
                box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
                background-color: #ffffff;
        }  
    }
    /* Small devices (landscape phones, less than 768px)*/
    @media (max-width: 767.98px) { 
        /* Footer */
     .left-footer{
         margin-top: 30px;
         font-size: 18px;
        } 
        .right-footer{
            margin-top: 30px;
            font-size: 18px;
        } 
        .Footer{
            position: relative;
            bottom: 0;
            height: 120px;
            background: #333333;
        }
        /*ProductSlider */
        .ProductSlider .carousel-item img{
                width: 100% !important;
                height: 100% !important;
        }
    }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    /* Slider */
    .carousel-item img{
        border-style: none;
        width: 100%;
        height: 550px !important;
    }
    .carousel-caption h3 {
        font-size: 50px !important;
        font-weight: bold;    
    }
    
    /* search */
    .search {
        position: absolute;
        top: 62px !important;
        right: 43px !important;
        z-index: 100 !important;
    }
    .div-search {
        top: 166px;
        position: absolute;
        left: 10%;
        width: 340px;
        margin-bottom: 150px;
        height: 131.4px;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    } 
    .ProductDetailFront h3{
        max-width: 400px;
        width: 584px;
      height: 54px;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.35;
      letter-spacing: -0.24px;
      color: #333333;
    }
}
/* Large devices (desktops, less than 1200px*/
@media (max-width: 1199.98px) { 
    /*Navbar*/
    .hrVertical{
        display: none;
    }
    .cart-nav{
        margin-top: -40px;
        margin-left: 10px;
    }
    .navbarLink{
        padding-top: 25px;
        padding-right: 39px;
        display: inline-block;      
    }    
    .navbarLink a{
        font-size: 15px;
    }
    .alignAutoRight{
        margin: 0 auto;
    }
    .alignAutoLeft{
        margin: 0 auto;
    }
    .alpha{
        padding: 0;
        
    }
    .logo {
        width: 50px;
        height: 50px;
        margin-left: 11px;
        margin-right: 13px;
        object-fit: contain;
    }
    
    /* Slider */
    .carousel-item img{
        border-style: none;
        width: 100%;
        height: 100%;
    }
    /*buttonGroup*/
    .pagination{
        margin:2% 0% !important;
    }
    .border-page-link{
        border-radius: 4px !important;
        padding: 10px 11px !important;
    }
    /* search */
    .search{
        position: absolute;
        top: 164px;
        right: 60px;
        z-index: 100 !important;
    }
    .div-search ::after{
        display: none;
    }
}