* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SUKHUMVITSET;
}
@font-face {
    font-family: "SUKHUMVITSET";
    src: url("../font/SUKHUMVITSET-TEXT.TTF");
}
/* MarginTop Class */
/* Navbar */
/* Slider */
/* Card */
/*Responsive Media Query*/




/* MarginTop Class */
.MarginTopClass {
    margin-top: 27px;
}

/* Navbar */
.navbarLink{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    display: inline-block; 
}
.alpha{
    background: #ffffff;
    color: #000000;
    padding: 1.25rem 1rem !important;
    border-bottom: 1.2px solid rgba(0,0,0,0.1);
}
.navbarLink a {
    color:#000000;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.14px;
    color: #333333;
    text-decoration: none !important;
}
.logo {
    width: 100px;
    height: 100px;
    margin-left: 64px;
    margin-right: 32px;
    object-fit: contain;
}
.hrVertical{
    content: "";
    width: 1px;
    margin-top: 30px;
    display: inline-block; 
    margin-right: 33px; 
    height: 32px;
    background-color: #ececec;
}

.alignAutoLeft{
    margin-left: 550px;
}

/* Slider */
.carousel-item img{
    border-style: none;
    width: 100%;
    height: 950px !important;
}
.carousel-indicators .active {
    opacity: 1;
    width: 80px;
}
.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 50%;
    z-index: 20;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-caption h3 {
    font-size: 100px;
    font-weight: bold;    
}
.backgroundText{
    position: absolute;
    top: 0;
    background-color:rgba(0,0,0,0.2) ;
    width: 100%;
    height: 950px;
}

/*CategoryBox */
.Category{
    width: 398px;
    height: 398px;
    background-color: #efeff4;
    border: 20px solid #fff;
    border-radius:15px ;
}
.Category h2{
    font-size: 40px;
    position: absolute ;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    left: 25%;
    right: 25%;
    top: 50%;
}
                
/*Card*/
.embed-responsive::before {
    padding-top: 89.50% !important;
}
.cardCutoms {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}
.HeaderCard{
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.29px;
    text-align: center;
    color: #333333;
}
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    opacity: 1;
    overflow: hidden;
}
.embed-responsive:hover{
    opacity: 0.7;
    transition: 0.1s;
}

.showItem{
    position: absolute;
    bottom:0%;
    padding: 10px;
    width: 350px;
    color: #000000;
    font-size: 24px;
    height: 56px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Footer */
.Footer{
    margin-top: 30%;
    height: 150px;
    background: #333333;

}
 .left-footer{
    margin-top: 60px;
    font-size: 24px;
} 
.right-footer{
    margin-top: 60px;
    font-size: 24px;
} 
.owl-carousel .owl-stage { display: flex; align-items: center; }

/*Responsive Media Query*/

/*Iphon 6  - 4 */
@media (max-width:375px){
    /* Category */
    .Category h2{
        position: absolute;
        left: 25%;
        font-size: 15px;
        font-weight: bold;
        right: 25%;
        top: 50%;
    }
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    /* Slider */
    .carousel-item img{
        border-style: none;
        width: 100%;
        height: 300px !important;
    }
        /* Footer */
        .left-footer{
            margin-top: 60px;
            font-size: 15px;
        } 
        .right-footer{
            margin-top: 60px;
            font-size: 15px;
        } 
    }
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    /* Footer */
     .left-footer{
        margin-top: 60px;
        font-size: 18px;
    } 
    .right-footer{
        margin-top: 60px;
        font-size: 18px;
    } 
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    /* Slider */
    .carousel-item img{
        border-style: none;
        width: 100%;
        height: 550px !important;
    }
    .carousel-caption h3 {
    font-size: 50px !important;
    font-weight: bold;    
    }
 }
/* Large devices (desktops, less than 1200px*/
@media (max-width: 1199.98px) { 
    /*Navbar*/
    .hrVertical{
        display: none;
    }
    .cart-nav{
        margin-top: -40px;
        margin-left: 10px;
    }
    .navbarLink{
        padding-top: 25px;
        padding-right: 39px;
        display: inline-block;      
    }    
    .navbarLink a{
        font-size: 15px;
    }
    .alignAutoRight{
        margin: 0 auto;
    }
    .alignAutoLeft{
        margin: 0 auto;
    }
    .alpha{
        padding: 0;
        
    }
    .logo {
        width: 50px;
        height: 50px;
        margin-left: 11px;
        margin-right: 13px;
        object-fit: contain;
    }
    
    /* Slider */
    .carousel-item img{
        border-style: none;
        width: 100%;
        height: 100%;
    }
}


